body {
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 5fr 20px;
}

#main-content {
  grid-column: 2;
}

#sidebar {
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: 100px 230px 150px;
  background-color: #dc2626;
  color: whitesmoke;
  align-items: center;
  padding-left: 20px;
  width: 280px;
}

#logo {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  font-family: "Radio Canada", sans-serif;
}

#nav-2 {
  margin-top: 80px;
}

#nav-1 a,
#nav-2 a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 50px 50px;
  align-items: center;
  width: 100px;
  margin-top: 10px;
}

#nav-1 img,
#nav-2 img {
  width: 30px;
  padding-left: 5px;
}

#header {
  background-color: white;
  display: grid;
  grid-template: 2 / 2;
}

#search-bar {
  grid-column: 1;
  grid-row: 1;
}

#profile {
  grid-column: 2;
  grid-row: 1;
}

#welcome {
  grid-column: 1;
  grid-row: 2;
}

#buttons {
  grid-column: 2;
  grid-row: 2;
}

#buttons button {
  border: none;
  background-color: #7f1d1d;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

#main-content {
  background-color: gainsboro;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1.5fr 1fr;
}

#projects {
  grid-column: 1;
  grid-row: 1/2;
}

#announcements {
  grid-column: 2;
  grid-row: 1;
}

#trending {
  grid-column: 2;
  grid-row: 2;
}

footer {
  grid-row: 3;
  grid-column: 2;
}

#credits {
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
}

#credits a {
  text-decoration: none;
}

#copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#photo-credit {
}

#copyright img {
  position: relative;
  padding-bottom: 5px;
}
